# Django environment
SECRET_KEY=supersecretkey
DEBUG=True

# Django + PostgreSQL environment
POSTGRES_HOST=postgres
POSTGRES_DB=dbname
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_PORT=5432
