services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/project/frontend
      - /project/frontend/node_modules
    ports:
      - "3000:3000"
    command: sh -c "bun dev"

  backend:
    build: ./backend
    volumes:
      - ./backend:/project/backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: sh -c "sh startup.sh"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16.2-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -h ${POSTGRES_HOST} -p ${POSTGRES_PORT} -d ${POSTGRES_DB}" ]
      interval: 3s
      timeout: 1s
      retries: 5
